[package]
name = "robust_pid"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
approx = "0.5.1"
num-traits = { version = "0.2.19", default-features = false }

[features]
default = ["std"]
std = []

